<div class="document">
	<table class="maintitletable tablestripped">
		<tr>
			<td class="icontd">
			</td>
			<td class="maintitletabletd">
				<div class="title">Sezione 1</div>
			</td>
		</tr>
	</table>
	<div class="emptyline">&nbsp;</div>
	<table class="datatable tablebordered">
		<thead>
			<tr style="color:#ffffff;">
				<th style="background-color: #1F497D; text-align: center;" data-ref="Sez1.DenominazioneCommercialeDelProdotto">Denominazione Commerciale<br>Del Prodotto</th>
				<th style="background-color: #1F497D; text-align: center;" data-ref="Sez1.NomeFornitore">Nome Fornitore</th>
			<tr>
		</thead>
		<tbody>
		<tr data-seq="#">
			<td style="text-align: center;" data-key="Sez1.DenominazioneCommercialeDelProdotto"></td>
			<td style="text-align: center;" data-key="Sez1.NomeFornitore"></td>
		</tr>
		</tbody>
	</table>
	<div class="emptyline">&nbsp;</div>
	<table class="maintitletable tablestripped">
		<tr>
			<td class="icontd">
			</td>
			<td class="maintitletabletd">
				<div class="title">Sezione 2</div>
			</td>
		</tr>
	</table>
	<div class="emptyline">&nbsp;</div>
	<table class="datatable tablebordered" data-type="table" data-table="Sez2.CodiciClassificazione">
		<thead>
			<tr style="color:#ffffff;">
				<th width="120" style="background-color: #1F497D; text-align: center;" data-ref="Codice">Codice</th>
				<th style="background-color: #1F497D; text-align: center;" data-ref="Note">Note</th>
				<th style="background-color: #1F497D; text-align: center;" data-ref="Descrizione">Descrizione</th>
				<th width="80" style="background-color: #1F497D; text-align: center;" data-ref="Pittogramma" data-readonly="true">Pitt.</th>
				<th width="120" style="background-color: #1F497D; text-align: center;" data-ref="MoVaRisCh_P_Score" data-readonly="true">MoVaRisCh<br>Score</th>
				<th style="background-color: #1F497D; text-align: center;" data-ref="MoVaRisCh_P_Descrizione" data-readonly="true">MoVaRisCh<br>Descrizione</th>
				<th style="background-color: #1F497D; text-align: center;" data-ref="MoVaRisCh_P_Organi_Bersaglio" data-readonly="true">MoVaRisCh<br>Organi Bersaglio</th>
			</tr>
		</thead>
		<tbody data-array="Sez2.CodiciClassificazione"></tbody>
		<tfooter>
			<tr style="color:#ffffff;">
				<th style="background-color: #1F497D; text-align: center;" data-ref="Pittogrammi" data-readonly="true">Pittogrammi</th>
				<td colspan="5" data-key="Sez2.Pittogrammi" data-readonly="true"></td>
			</tr>
		</tfooter>
	</table>

	<template id="tmpl-Sez2.CodiciClassificazione">
		<tr data-seq="#">
			<td style="text-align: center;" data-key="Codice"></td>
			<td style="text-align: center;" data-key="Note"></td>
			<td style="text-align: center;" data-key="Descrizione" data-readonly="true"></td>
			<td style="text-align: center;" data-key="Pittogramma" data-readonly="true"></td>
			<td style="text-align: center;" data-key="MoVaRisCh_P_Score" data-readonly="true"></td>
			<td style="text-align: center;" data-key="MoVaRisCh_P_Descrizione" data-readonly="true"></td>
			<td style="text-align: center;" data-key="MoVaRisCh_P_Organi_Bersaglio" data-readonly="true"></td>
		</tr>
	</template>
	<div class="emptyline">&nbsp;</div>
	<table class="maintitletable tablestripped">
		<tr>
			<td class="icontd">
			</td>
			<td class="maintitletabletd">
				<div class="title">Sezione 3</div>
			</td>
		</tr>
	</table>
	<div class="emptyline">&nbsp;</div>
	<table class="datatable tablebordered" data-type="table" data-table="Sez3.Sostanze">
		<thead>
			<tr style="color:#ffffff;">
				<th width="150" style="background-color: #1F497D; text-align: center;" data-ref="NomeSostanza">Nome Sostanza</th>
				<th width="125" style="background-color: #1F497D; text-align: center;" data-ref="CasEc" data-readonly="true">CAS/EC No</th>
				<th width="125" style="background-color: #1F497D; text-align: center;" data-ref="EntryNoMotivazioni" data-readonly="true">Entry No<br>Motivazioni</th>
				<th width="130" style="background-color: #1F497D; text-align: center;" data-ref="NumeroRegistrazioneReach">Numero<br>Reg. Reach</th>
				<th width="170" style="background-color: #1F497D; text-align: center;" data-ref="CodiciClassificazioni" data-readonly="true">Codici<br>Classificazioni</th>
				<th width="125" style="background-color: #1F497D; text-align: center;" data-ref="Pittogrammi" data-readonly="true">Pittogrammi</th>
				<th width="80" style="background-color: #1F497D; text-align: center;" data-ref="Max_MoVaRisCh_NP_Score" data-readonly="true">Max NP<br>Score</th>
				<th style="background-color: #1F497D; text-align: center;" data-ref="Note">Note</th>
			<tr>
		</thead>
		<tbody data-array="Sez3.Sostanze"></tbody>
	</table>

	<template id="tmpl-Sez3.Sostanze">
		<tr data-seq="#">
			<td style="text-align: center;" data-key="NomeSostanza"></td>
			<td style="text-align: center; vertical-align: top;">
				<table data-type="fields">
					<tr>
						<td class="casecth">CAS</td>
					</tr>
					<tr>
						<td class="" data-key="CAS"></td>
					</tr>
					<tr>
						<td class="casecth" data-key="EC_Type" data-readonly="true"></td>
					</tr>
					<tr>
						<td class="casectd" data-key="EC_No"></td>
					</tr>
				</table>
			</td>
			<td style="text-align: center; vertical-align: top;" data-key="EntryNoMotivazioni" data-readonly="true"></td>
			<td style="text-align: center;" data-key="NumeroRegistrazioneReach"></td>
			<td style="text-align: center;  vertical-align: top;"><table class="datatable tablenoborder" data-type="table" data-table="Sez3.Sostanze[*].CodiciClassificazioni">
			<thead>
			<tr style="display:none">
				<th width="120" style="background-color: #1F497D; text-align: center;" data-ref="Codice">Codice</th>
				<th style="background-color: #1F497D; text-align: center;" data-ref="MoVaRisCh_NP_Score" data-readonly="true">NP Score</th>
			</tr>
			</thead>
			<tbody data-array="CodiciClassificazioni"></tbody>
			</table></td>
			<td style="text-align: center;" data-key="Pittogrammi" data-readonly="true"></td>
			<td style="text-align: center;" data-key="Max_MoVaRisCh_NP_Score" data-readonly="true"></td>
			<td style="text-align: center;" data-key="Note"></td>
		</tr>

		<template id="tmpl-CodiciClassificazioni">
			<tr data-seq="#">
				<td style="text-align: center;" data-key="Codice"></td>
				<td style="text-align: center;" data-key="MoVaRisCh_NP_Score" data-readonly="true"></td>
				
			</tr>
		</template>
	</template>
	
<div class="emptyline">&nbsp;</div>
<table class="maintitletable tablestripped">
		<tr>
			<td class="icontd">
			</td>
			<td class="maintitletabletd">
				<div class="title">Sezione 9</div>
			</td>
		</tr>
	</table>
	<div class="emptyline">&nbsp;</div>

	<table class="datatable tablebordered" data-type="table" data-table="Sez9.SostanzeOMiscele">
		<thead>
			<tr style="color:#ffffff;">
				<th width="200" style="background-color: #1F497D; text-align: center;" data-ref="ClasseChimicoFisica">Classe Chimico-Fisica</th>
				<th width="130" style="background-color: #1F497D; text-align: center;" data-ref="StatoFisico">Stato Fisico</th>
				<th width="140" style="background-color: #1F497D; text-align: center;" data-ref="TemperaturaDiEbollizione">T. Di Ebollizione</th>
				<th style="background-color: #1F497D; text-align: center;" data-ref="Note">Note</th>
			<tr>
		</thead>
		<tbody data-array="Sez9.SostanzeOMiscele"></tbody>
	</table>

<template id="tmpl-Sez9.SostanzeOMiscele">
	<tr data-seq="#">
		<td style="text-align: center;" data-key="ClasseChimicoFisica"></td>
		<td style="text-align: center;" data-key="StatoFisico"></td>
		<td style="text-align: center;" data-key="TemperaturaDiEbollizione"></td>
		<td style="text-align: center;" data-key="Note"></td>
	</tr>
</template>
</div>



<style>
    .isolate .document {
        font-family: Arial, Helvetica, sans-serif;
        width: 100%;
        max-width:1200px;
        background-color: #ffffff;
        padding: 15px;
        border: 1px solid #333333;
        font-size: 14px;
    }

	.isolate table {
		width: 100%;
		border-spacing: 0px;
		table-layout: fixed;
	}
	.isolate td {
		font-size: 12px;
	}
	.isolate .links .divlink {
		display: block;
	}

	.isolate .icon {
		width: 40px;
		height: 40px;
		text-align: center;
	}

	.isolate .icontd {
		width: 50px;
	}

	.isolate .labeltd {
		background-color: #F2F2F2;
		font-weight: bold;
		text-align: left;
		width: 200px;
	}

	.isolate .maintitletable {
		background-color: #D9D9D9;
		border: 0px;
	}

	.isolate .maintitletabletd {
		text-align: center;
	}

	.isolate .maintitletable .title {
		font-size: 24px;
		font-weight: bold;
	}

	.isolate .maintitletable .subtitle {
		font-size: 14px;
		font-weight: bold;
	}

	.isolate .datatable thead td {
		background-color: #DAE9F7;
		font-weight: normal;
	}

	.isolate .titletable {
		margin-top: 25px;
		background-color: transparent;
	}

	.isolate .titletable .title {
		font-size: 20px;
		font-weight: bold;
	}

	.isolate .titletable .subtitle {
		font-size: 14px;
		font-weight: bold;
	}

	.isolate .titletabletd {
		text-align: left;
	}

	.isolate .tablebordered {
		border-collapse: collapse;
	}

	.isolate .tablebordered td {
		border: 1px solid #333333;
		padding:2px;
	}

	.isolate .tablestripped tr td {
		border-bottom: 1px solid #333333;
	}

	.isolate .tablestripped tr:first-child td {
		border-top: 1px solid #333333;
	}

	.isolate .emptyline {
		line-height: 5px;
	}

	.isolate .casecth {
		border: 1px solid #333333;
    	padding: 2px;
		font-weight: bold;
		background-color: #1F497D;
		color:#fff;
	    min-height: 24px;
	    display: block;
	}
	.isolate .casectd {
		border: 1px solid #333333;
    	padding: 2px;
	    min-height: 24px;
	    display: block;
	}
	.pictograms{
    	width:60px;
	}
	.pictograms-mini{
		width:40px;
	}
</style>
