<div class="isolate">
	<div class="document">
		<center><img src="https://bokvertical.itsb2b.net/imgs/intestazione.png" /></center>
		<table class="maintitletable tablebordered">
			<tr style="background-color: #fff; font-size:14px;">
				<td width="500">CUP</td>
				<td colspan="7">
					
				</td>
			</tr>
			<tr style="background-color: #fff; font-size:14px;">
				<td>Importo complessivo del progetto</td>
				<td colspan="7">
					€ 187.280,00 (di cui altre fonti per € 37.456,00)
				</td>
			</tr>
			<tr style="background-color: #fff; font-size:14px;">
				<td>Costo ammesso al PNRR</td>
				<td colspan="7">
					€ 149.824,00 (80% del costo perché il bene non è sottoposto a vincolo) vedi osservazioni
				</td>
			</tr>
			<tr style="background-color: #fff; font-size:14px; height: 30px;">
				<td colspan="8">
				</td>
			</tr>
		</table><br>	
		<table class="maintitletable tablebordered">
			<tr>
				<td style="background-color: #1F497D; text-align: center;" class="title" width="800">
					PUNTI DELLA CHECK LIST
				</td>
				<td style="background-color: #1F497D; text-align: center;" class="title" width="50">SI</td>
				<td style="background-color: #1F497D; text-align: center;" class="title" width="50">NO</td>
				<td style="background-color: #1F497D; text-align: center;" class="title" width="50">NA</td>
				<td style="background-color: #1F497D; text-align: center;" class="title" width="80">ERRORE</td>
				<td style="background-color: #1F497D; text-align: center;" class="title" width="200">VALORE</td>
				<td style="background-color: #1F497D; text-align: center;" class="title" >Note compilazione</td>
				<td style="background-color: #1F497D; text-align: center;" class="title">Messaggio di errore</td>
			</tr>

			<!-- 1 -->
			<tr>
				<td colspan="8" class="subtitle">1) E’ presente e firmata digitalmente sul sistema informatico l’Attestazione delle Verifiche effettuate ed il rendiconto di progetto?</td>
			</tr>
			<tr>
				<td class="subsubtitle">1.1) E’ presente e firmata digitalmente sul sistema informatico l’Attestazione delle Verifiche effettuate ed il rendiconto di progetto?</td>
				<td class="subsubtitle" data-key="L1_12[0].EsitoOKHtml"></td>
				<td class="subsubtitle" data-key="Mic_Poc_L1_07[0].EsitoOKHtml"></td>
				<td class="subsubtitle" data-key="Mic_Poc_L1_07[0].EsitoOKHtml"></td>
				<td class="subsubtitle" data-key="Mic_Poc_L1_07[0].EsitoOKHtml"></td>
				<td class="subsubtitle" data-key="Mic_Poc_L1_07[0].EsitoOKHtml"></td>
				<td class="subsubtitle" data-key="Mic_Poc_L1_07[0].EsitoOKHtml"></td>
<td class="subsubtitle"></td>
			</tr>
			<tr><td class="colorstepa">10) Step 1 - Controllo Coerenza</td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td></tr>
			<tr><td class="colorstepa">20) Step 2 - Controlli di Merito</td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td></tr>
			<tr><td class="colorstepb">30) Step 3 - Presenza codice CUP</td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td></tr>
			<tr><td class="colorstepb">40) Step 3 - Codice CUP corretto</td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td></tr>
			<tr><td class="colorstepc">50) Step 3 - Attestazione delle Verifiche Effettuate</td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td></tr>
			<tr><td class="colorstepc">60) Step 3 - Elenco delle Spese Oggetto di Rendicontazione</td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td></tr>

			<!-- 2 -->
			<tr>
				<td colspan="8" class="subtitle">2) Nel Rendiconto di Progetto sono presenti gli allegati richiesti:</td>
			</tr>

			<tr>
				<td class="subsubtitle">2.1) Regolarità amministrativa-contabile</td>
				<td class="subsubtitle"></td>
				<td class="subsubtitle"></td>
				<td class="subsubtitle"></td>
				<td class="subsubtitle"></td>
				<td class="subsubtitle"></td>
				<td class="subsubtitle"></td>
<td class="subsubtitle"></td>
			</tr>
			<tr><td class="colorstepa">10) Step 1 - Controllo Coerenza</td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td></tr>
			<tr><td class="colorstepa">20) Step 2 - Controlli di Merito</td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td></tr>
			<tr><td class="colorstepb">30) Step 3 - Presenza codice CUP</td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td></tr>
			<tr><td class="colorstepb">40) Step 3 - Codice CUP corretto</td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td></tr>
			<tr><td class="colorstepc">50) Step 3 - Compilazione Checklist per la verifica della regolarità amministrativo-contabile</td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td></tr>
			<tr><td class="colorstepc">60) Step 3 - Esito Checklist per la verifica della regolarità amministrativo-contabile</td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td></tr>

			<tr>
				<td class="subsubtitle">2.2) DSAN  Titolare Effettivo ( Regione e beneficiario finale)</td>
				<td class="subsubtitle"></td>
				<td class="subsubtitle"></td>
				<td class="subsubtitle"></td>
				<td class="subsubtitle"></td>
				<td class="subsubtitle"></td>
				<td class="subsubtitle"></td>
<td class="subsubtitle"></td>
			</tr>
			<tr><td class="colorstepa">10) Step 1 - Controllo Coerenza</td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td></tr>
			<tr><td class="colorstepa">20) Step 2 - Controlli di Merito</td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td></tr>
			<tr><td class="colorstepb">30) Step 3 - Presenza codice CUP</td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td></tr>
			<tr><td class="colorstepb">40) Step 3 - Codice CUP corretto</td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td></tr>
			<tr><td class="colorstepc">50) Step 3 - Titolare Effettivo</td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td></tr>

			<tr>
				<td class="subsubtitle">2.3) DSAN Conflitto di interessi (Soggetto Attuatore Regione)<br />
DSAN Conflitto di interessi (beneficiario finale)</td>
				<td class="subsubtitle"></td>
				<td class="subsubtitle"></td>
				<td class="subsubtitle"></td>
				<td class="subsubtitle"></td>
				<td class="subsubtitle"></td>
				<td class="subsubtitle"></td>
<td class="subsubtitle"></td>
			</tr>
			<tr><td class="colorstepa">10) Step 1 - Controllo Coerenza</td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td></tr>
			<tr><td class="colorstepa">20) Step 2 - Controlli di Merito</td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td></tr>
			<tr><td class="colorstepb">30) Step 3 - Presenza codice CUP</td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td></tr>
			<tr><td class="colorstepb">40) Step 3 - Codice CUP corretto</td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td></tr>
			<tr><td class="colorstepc">50) Step 3 - Assenza di Conflitto di Interessi</td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td></tr>

			<tr>
				<td class="subsubtitle">2.4) DSAN assenza di doppio finanziamento ( beneficiario finale)</td>
				<td class="subsubtitle"></td>
				<td class="subsubtitle"></td>
				<td class="subsubtitle"></td>
				<td class="subsubtitle"></td>
				<td class="subsubtitle"></td>
				<td class="subsubtitle"></td>
<td class="subsubtitle"></td>
			</tr>
			<tr><td class="colorstepa">10) Step 1 - Controllo Coerenza</td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td></tr>
			<tr><td class="colorstepa">20) Step 2 - Controlli di Merito</td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td></tr>
			<tr><td class="colorstepb">30) Step 3 - Presenza codice CUP</td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td></tr>
			<tr><td class="colorstepb">40) Step 3 - Codice CUP corretto</td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td></tr>
			<tr><td class="colorstepc">50) Step 3 - Assenza di Doppio Finanziamento</td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td></tr>

			<tr>
				<td class="subsubtitle">2.5) Condizionalità PNRR riferite a M&T (DSAN del Soggetto Attuatore)	</td>
				<td class="subsubtitle"></td>
				<td class="subsubtitle"></td>
				<td class="subsubtitle"></td>
				<td class="subsubtitle"></td>
				<td class="subsubtitle"></td>
				<td class="subsubtitle"></td>
<td class="subsubtitle"></td>
			</tr>
			<tr><td class="colorstepa">10) Step 1 - Controllo Coerenza</td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td></tr>
			<tr><td class="colorstepa">20) Step 2 - Controlli di Merito</td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td></tr>
			<tr><td class="colorstepb">30) Step 3 - Presenza codice CUP</td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td></tr>
			<tr><td class="colorstepb">40) Step 3 - Codice CUP corretto</td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td></tr>
			<tr><td class="colorstepc">50) Step 3 - Condizionalità PNRR</td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td></tr>

			<tr>
				<td class="subsubtitle">2.6) Checklist DNSH ex ante/ex post e Dichiarazione di associazione al progetto</td>
				<td class="subsubtitle"></td>
				<td class="subsubtitle"></td>
				<td class="subsubtitle"></td>
				<td class="subsubtitle"></td>
				<td class="subsubtitle"></td>
				<td class="subsubtitle"></td>
<td class="subsubtitle"></td>
			</tr>
			<tr><td class="colorstepa">10) Step 1 - Controllo Coerenza</td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td></tr>
			<tr><td class="colorstepa">20) Step 2 - Controlli di Merito</td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td></tr>
			<tr><td class="colorstepb">30) Step 3 - Verifica DNSH Ex Ante</td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td></tr>
			<tr><td class="colorstepb">40) Step 3 - Verifica DNSH Ex Post</td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td></tr>

			<tr>
				<td class="subsubtitle">2.7) Dichiarazione DNSH sulla conformità delle spese sostenute (DSAN del Soggetto Attuatore)</td>
				<td class="subsubtitle"></td>
				<td class="subsubtitle"></td>
				<td class="subsubtitle"></td>
				<td class="subsubtitle"></td>
				<td class="subsubtitle"></td>
				<td class="subsubtitle"></td>
<td class="subsubtitle"></td>
			</tr>
			<tr><td class="colorstepa">10) Step 1 - Controllo Coerenza</td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td></tr>
			<tr><td class="colorstepa">20) Step 2 - Controlli di Merito</td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td></tr>
			<tr><td class="colorstepb">30) Step 3 - Presenza codice CUP</td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td></tr>
			<tr><td class="colorstepb">40) Step 3 - Codice CUP corretto</td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td></tr>
			<tr><td class="colorstepc">50) Step 3 - Rispetto del Principio DNSH</td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td></tr>

			<!-- 3 -->
			<tr>
				<td colspan="8" class="subtitle">3) E' disponibile la documentazione relativa alla procedura di selezione del beneficiario finale?</td>
			</tr>
			<tr>
				<td class="subsubtitle">3.1) E' disponibile la documentazione relativa alla procedura di selezione del  beneficiario finale?</td>
				<td class="subsubtitle"></td>
				<td class="subsubtitle"></td>
				<td class="subsubtitle"></td>
				<td class="subsubtitle"></td>
				<td class="subsubtitle"></td>
				<td class="subsubtitle"></td>
<td class="subsubtitle"></td>
			</tr>
			<tr><td class="colorstepa">10) Step 1 - Controllo Coerenza</td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td></tr>
			<tr><td class="colorstepa">20) Step 2 - Controlli di Merito</td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td></tr>
			<tr><td class="colorstepb">30) Step 3 - Presenza codice CUP</td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td></tr>
			<tr><td class="colorstepb">40) Step 3 - Codice CUP corretto</td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td></tr>
			<tr><td class="colorstepc">50) Step 3 - Compilazione Checklist di Autocontrollo della Selezione Progetti</td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td></tr>
			<tr><td class="colorstepc">60) Step 3 - Esito Checklist di Autocontrollo della Selezione Progetti</td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td></tr>

			<!-- 4 -->
			<tr>
				<td colspan="8" class="subtitle">4) E' presente l'Atto d'obblighi ed è correttamente firmato dal beneficiario finale?</td>
			</tr>
			<tr>
				<td class="subsubtitle">4.1) E' presente l'Atto d'obblighi ed è correttamente firmato dal beneficiario finale?</td>
				<td class="subsubtitle"></td>
				<td class="subsubtitle"></td>
				<td class="subsubtitle"></td>
				<td class="subsubtitle"></td>
				<td class="subsubtitle"></td>
				<td class="subsubtitle"></td>
<td class="subsubtitle"></td>
			</tr>
			<tr><td class="colorstepa">10) Step 1 - Controllo Coerenza</td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td></tr>
			<tr><td class="colorstepa">20) Step 2 - Controlli di Merito</td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td></tr>
			<tr><td class="colorstepb">30) Step 3 - Presenza codice CUP</td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td></tr>
			<tr><td class="colorstepb">40) Step 3 - Codice CUP corretto</td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td></tr>
			<tr><td class="colorstepc">50) Step 3 - Presenza Atto d'Obbligo</td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td></tr>
			<tr><td class="colorstepc">60) Step 3 - Firma dell'Atto d'Obbligo</td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td></tr>

			<!-- 5 -->
			<tr>
				<td colspan="8" class="subtitle">5) E’ presente in ReGiS: - il Quadro Tecnico Economico eventualmente aggiornato, - il cronoprogramma eventualmente aggiornato, - la relazione periodica di avanzamento</td>
			</tr>

			<tr>
				<td class="subsubtitle">5.1) E’ presente in ReGiS:<br/>
- il Quadro Tecnico Economico originale<br/>
- il cronoprogramma procedurale originale<br/>
-  il cronoprogramma dell'intervento originale</td>
				<td class="subsubtitle"></td>
				<td class="subsubtitle"></td>
				<td class="subsubtitle"></td>
				<td class="subsubtitle"></td>
				<td class="subsubtitle"></td>
				<td class="subsubtitle"></td>
<td class="subsubtitle"></td>
			</tr>
			<tr><td class="colorstepa">10) Step 1 - Controllo Coerenza</td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td></tr>
			<tr><td class="colorstepa">20) Step 2 - Controlli di Merito</td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td></tr>
			<tr><td class="colorstepb">30) Step 3 - QTE</td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td></tr>
			<tr><td class="colorstepb">40) Step 3 - Cronoprogramma Procedurale</td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td></tr>
			<tr><td class="colorstepc">50) Step 3 - Cronoprogramma dell'Intervento</td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td></tr>

			<tr>
				<td class="subsubtitle">5.2) Sono stati effettuati i controlli previsti specifici sul titolare effettivo?</td>
				<td class="subsubtitle"></td>
				<td class="subsubtitle"></td>
				<td class="subsubtitle"></td>
				<td class="subsubtitle"></td>
				<td class="subsubtitle"></td>
				<td class="subsubtitle"></td>
<td class="subsubtitle"></td>
			</tr>
			<tr><td class="colorstepa">10) Step 1 - Controllo Coerenza</td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td></tr>
			<tr><td class="colorstepa">20) Step 2 - Controlli di Merito</td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td></tr>
			<tr><td class="colorstepb">30) Step 3 - Presenza codice CUP</td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td></tr>
			<tr><td class="colorstepb">40) Step 3 - Codice CUP corretto</td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td></tr>
			<tr><td class="colorstepc">50) Step 3 - Relazione Periodica</td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td></tr>
			<tr><td class="colorstepc">60) Step 3 - Percentuale Avanzamento Finanziario</td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td></tr>
			<tr><td class="colorstepc">70) Step 3 - Informazioni su Cronoprogramma</td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td></tr>
			<tr><td class="colorstepc">80) Step 3 - Informazioni su Quadro Tecnico Economico</td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td></tr>

			<!-- 6 -->
			<tr>
				<td colspan="8" class="subtitle">6) Sono stati effettuati i controlli previsti specifici sul titolare effettivo?</td>
			</tr>
			<tr>
				<td class="subsubtitle">6.1) Sono stati effettuati i controlli previsti specifici sul titolare effettivo?</td>
				<td class="subsubtitle"></td>
				<td class="subsubtitle"></td>
				<td class="subsubtitle"></td>
				<td class="subsubtitle"></td>
				<td class="subsubtitle"></td>
				<td class="subsubtitle"></td>
<td class="subsubtitle"></td>
			</tr>
			<tr><td class="colorstepa">10) Step 1 - Controllo Coerenza</td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td></tr>
			<tr><td class="colorstepa">20) Step 2 - Controlli di Merito</td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td></tr>
			<tr><td class="colorstepb">30) Step 3 - Presenza codice CUP</td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td></tr>
			<tr><td class="colorstepb">40) Step 3 - Codice CUP corretto</td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td></tr>
			<tr><td class="colorstepc">50) Step 3 - Punteggio Arachne Complessivo</td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td></tr>
			<tr><td class="colorstepc">60) Step 3 - Punteggio Arachne Complessivo di Rischio Frode</td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td></tr>

			<!-- 8 -->
			<tr>
				<td colspan="8" class="subtitle">8) Il prospetto di rendiconto presentato dal beneficiario finale contiene i seguenti elementi: - Indicazione del PNRR e del Missione/Componente/investimento/ subinvestimento - CUP</td>
			</tr>
			<tr>
				<td class="subsubtitle">8.1) Il prospetto di rendiconto presentato dal beneficiario finale contiene i seguenti elementi: <br/>
- Indicazione del PNRR e del Missione/Componente/investimento/ subinvestimento <br/>
- CUP</td>
				<td class="subsubtitle"></td>
				<td class="subsubtitle"></td>
				<td class="subsubtitle"></td>
				<td class="subsubtitle"></td>
				<td class="subsubtitle"></td>
				<td class="subsubtitle"></td>
<td class="subsubtitle"></td>
			</tr>
			<tr><td class="colorstepa">10) Step 1 - Controllo Coerenza</td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td></tr>
			<tr><td class="colorstepa">20) Step 2 - Controlli di Merito</td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td></tr>
			<tr><td class="colorstepb">30) Step 3 - Presenza codice CUP</td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td></tr>
			<tr><td class="colorstepb">40) Step 3 - Codice CUP corretto</td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td></tr>
			<tr><td class="colorstepc">50) Step 3 - Titolo del Progetto PNRR</td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td></tr>
			<tr><td class="colorstepc">60) Step 3 - ID Domanda</td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td></tr>
			<tr><td class="colorstepc">70) Step 3 - Titolo del Progetto</td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td></tr>

			<!-- 9 -->
			<tr>
				<td colspan="8" class="subtitle">9) Il provvedimento di liquidazione emesso riporta gli estremi del beneficiario finale, (dati anagrafici, sede, Partita IVA/ Codice fiscale), della domanda contenente il prospetto di rendiconto, ed è corredato dalla documentazione prevista ai fini del pagamento del contributo (ove previsto)?</td>
			</tr>

			<tr>
				<td class="subsubtitle">9.1) Presenza Atto di Liquidazione , Dati Anagrafici e IBAN del Beneficiario</td>
				<td class="subsubtitle"></td>
				<td class="subsubtitle"></td>
				<td class="subsubtitle"></td>
				<td class="subsubtitle"></td>
				<td class="subsubtitle"></td>
				<td class="subsubtitle"></td>
<td class="subsubtitle"></td>
			</tr>
			<tr><td class="colorstepa">10) Step 1 - Controllo Coerenza</td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td></tr>
			<tr><td class="colorstepa">20) Step 2 - Controlli di Merito</td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td></tr>
			<tr><td class="colorstepb">30) Step 3 - Presenza codice CUP</td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td></tr>
			<tr><td class="colorstepb">40) Step 3 - Codice CUP corretto</td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td></tr>
			<tr><td class="colorstepc">50) Step 3 - Presenza Atto di Liquidazione</td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td></tr>
			<tr><td class="colorstepc">60) Step 3 - Dati Anagrafici del Beneficiario dell'Atto di Liquidazione</td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td></tr>
			<tr><td class="colorstepc">70) Step 3 - IBAN del Beneficiario dell'Atto di Liquidazione</td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td></tr>

			<tr>
				<td class="subsubtitle">9.2) Presenza del Mandato di Pagamento e IBAN del Beneficiario</td>
				<td class="subsubtitle"></td>
				<td class="subsubtitle"></td>
				<td class="subsubtitle"></td>
				<td class="subsubtitle"></td>
				<td class="subsubtitle"></td>
				<td class="subsubtitle"></td>
<td class="subsubtitle"></td>
			</tr>
			<tr><td class="colorstepa">10) Step 1 - Controllo Coerenza</td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td></tr>
			<tr><td class="colorstepa">20) Step 2 - Controlli di Merito</td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td></tr>
			<tr><td class="colorstepb">30) Step 3 - Presenza codice CUP</td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td></tr>
			<tr><td class="colorstepb">40) Step 3 - Codice CUP corretto</td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td></tr>
			<tr><td class="colorstepc">50) Step 3 - Presenza Mandato di Pagamento</td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td></tr>
			<tr><td class="colorstepc">60) Step 3 - IBAN del Beneficiario nel Mandato di Pagamento</td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td></tr>

			<tr>
				<td class="subsubtitle">9.3) Presenza della Quietanza di Pagamento e IBAN del Beneficiario</td>
				<td class="subsubtitle"></td>
				<td class="subsubtitle"></td>
				<td class="subsubtitle"></td>
				<td class="subsubtitle"></td>
				<td class="subsubtitle"></td>
				<td class="subsubtitle"></td>
<td class="subsubtitle"></td>
			</tr>
			<tr><td class="colorstepa">10) Step 1 - Controllo Coerenza</td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td></tr>
			<tr><td class="colorstepa">20) Step 2 - Controlli di Merito</td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td></tr>
			<tr><td class="colorstepb">30) Step 3 - Presenza codice CUP</td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td></tr>
			<tr><td class="colorstepb">40) Step 3 - Codice CUP corretto</td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td></tr>
			<tr><td class="colorstepc">50) Step 3 - Presenza Quietanza</td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td></tr>
			<tr><td class="colorstepc">60) Step 3 - IBAN del Beneficiario nella Quietanza</td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td></tr>

			<tr>
				<td class="subsubtitle">9.4) Coerenza tra IBAN dell'Atto di Liquidazione, Mandato e Quietanza</td>
				<td class="subsubtitle"></td>
				<td class="subsubtitle"></td>
				<td class="subsubtitle"></td>
				<td class="subsubtitle"></td>
				<td class="subsubtitle"></td>
				<td class="subsubtitle"></td>
<td class="subsubtitle"></td>
			</tr>
			<tr><td class="colorstepa">10) Step 1 - Controllo Coerenza</td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td></tr>
			<tr><td class="colorstepa">20) Step 2 - Controlli di Merito</td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td></tr>
			<tr><td class="colorstepb">30) Step 3 - Presenza codice CUP</td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td></tr>
			<tr><td class="colorstepb">40) Step 3 - Codice CUP corretto</td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td></tr>
			<tr><td class="colorstepc">50) Step 3 - Codice IBAN è identico in Atto di Liquidazione, Mandato e Quietanza</td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td></tr>

			<!-- 10 -->
			<tr>
				<td colspan="8" class="subtitle">10) E’ stato utilizzato da parte del Soggetto Attuatore il conto corrente dedicato per tutte le transazioni relative all’operazione che consenta la tracciabilità dei pagamenti?</td>
			</tr>

			<tr>
				<td class="subsubtitle">10.1) Ricerca IBAN per le Anticipazioni</td>
				<td class="subsubtitle"></td>
				<td class="subsubtitle"></td>
				<td class="subsubtitle"></td>
				<td class="subsubtitle"></td>
				<td class="subsubtitle"></td>
				<td class="subsubtitle"></td>
<td class="subsubtitle"></td>
			</tr>
			<tr><td class="colorstepa">10) Step 1 - Controllo Coerenza</td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td></tr>
			<tr><td class="colorstepa">20) Step 2 - Controlli di Merito</td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td></tr>
			<tr><td class="colorstepb">30) Step 3 - Presenza codice CUP</td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td></tr>
			<tr><td class="colorstepb">40) Step 3 - Codice CUP corretto</td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td></tr>
			<tr><td class="colorstepc">50) Step 3 - Codice IBAN</td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td></tr>
			<tr><td class="colorstepc">60) Step 3 - Tipologia di Pagamento</td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td></tr>

			<tr>
				<td class="subsubtitle">10.2) Ricerca IBAN per i SAL</td>
				<td class="subsubtitle"></td>
				<td class="subsubtitle"></td>
				<td class="subsubtitle"></td>
				<td class="subsubtitle"></td>
				<td class="subsubtitle"></td>
				<td class="subsubtitle"></td>
<td class="subsubtitle"></td>
			</tr>
			<tr><td class="colorstepa">10) Step 1 - Controllo Coerenza</td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td></tr>
			<tr><td class="colorstepa">20) Step 2 - Controlli di Merito</td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td></tr>
			<tr><td class="colorstepb">30) Step 3 - Presenza codice CUP</td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td></tr>
			<tr><td class="colorstepb">40) Step 3 - Codice CUP corretto</td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td></tr>
			<tr><td class="colorstepc">50) Step 3 - Codice IBAN</td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td></tr>
			<tr><td class="colorstepc">60) Step 3 - Tipologia di Pagamento</td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td></tr>

			<tr>
				<td class="subsubtitle">10.3) Ricerca IBAN per il Saldo</td>
				<td class="subsubtitle"></td>
				<td class="subsubtitle"></td>
				<td class="subsubtitle"></td>
				<td class="subsubtitle"></td>
				<td class="subsubtitle"></td>
				<td class="subsubtitle"></td>
<td class="subsubtitle"></td>
			</tr>
			<tr><td class="colorstepa">10) Step 1 - Controllo Coerenza</td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td></tr>
			<tr><td class="colorstepa">20) Step 2 - Controlli di Merito</td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td></tr>
			<tr><td class="colorstepb">30) Step 3 - Presenza codice CUP</td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td></tr>
			<tr><td class="colorstepb">40) Step 3 - Codice CUP corretto</td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td></tr>
			<tr><td class="colorstepc">50) Step 3 - Codice IBAN</td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td></tr>
			<tr><td class="colorstepc">60) Step 3 - Tipologia di Pagamento</td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td></tr>

			<tr>
				<td class="subsubtitle">10.4) Coerenza tra IBAN tra Anticipiazioni, SAL e Saldo</td>
				<td class="subsubtitle"></td>
				<td class="subsubtitle"></td>
				<td class="subsubtitle"></td>
				<td class="subsubtitle"></td>
				<td class="subsubtitle"></td>
				<td class="subsubtitle"></td>
<td class="subsubtitle"></td>
			</tr>
			<tr><td class="colorstepa">10) Step 1 - Controllo Coerenza</td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td></tr>
			<tr><td class="colorstepa">20) Step 2 - Controlli di Merito</td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td></tr>
			<tr><td class="colorstepb">30) Step 3 - Presenza codice CUP</td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td></tr>
			<tr><td class="colorstepb">40) Step 3 - Codice CUP corretto</td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td></tr>
			<tr><td class="colorstepc">50) Step 3 - Codice IBAN è identico per Anticipazione, SAL e Saldo</td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td></tr>

			<!-- 12 -->
			<tr>
				<td colspan="8" class="subtitle">12) Il prospetto di rendiconto presentato dal beneficiario finale contiene i seguenti elementi: - Indicazione del PNRR e del Missione/Componente/investimento/ subinvestimento - CUP</td>
			</tr>
			<tr>
				<td class="subsubtitle">12.1) Nel CRE è presente la data e la firma del documento?</td>
				<td class="subsubtitle"></td>
				<td class="subsubtitle"></td>
				<td class="subsubtitle"></td>
				<td class="subsubtitle"></td>
				<td class="subsubtitle"></td>
				<td class="subsubtitle"></td>
<td class="subsubtitle"></td>
			</tr>
			<tr><td class="colorstepa">10) Step 1 - Controllo Coerenza</td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td></tr>
			<tr><td class="colorstepa">20) Step 2 - Controlli di Merito</td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td>
<td class="colorstepa"></td></tr>
			<tr><td class="colorstepb">30) Step 3 - Presenza codice CUP</td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td></tr>
			<tr><td class="colorstepb">40) Step 3 - Codice CUP corretto</td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td>
<td class="colorstepb"></td></tr>
			<tr><td class="colorstepc">50) Step 3 - Data del CRE</td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td></tr>
			<tr><td class="colorstepc">60) Step 3 - Firma del CRE</td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td>
<td class="colorstepc"></td></tr>
		</table>
	</div>
</div>


<style>
    .isolate .document {
        font-family: Arial, Helvetica, sans-serif;
        width: 100%;
        max-width:1700px;
        background-color: #ffffff;
        padding: 15px;
        border: 1px solid #333333;
        font-size: 14px;
    }

	.isolate table {
		width: 100%;
		border-spacing: 0px;
		table-layout: fixed;
	}
	.isolate td {
		font-size: 12px;
	}
	.isolate .links .divlink {
		display: block;
	}

	.isolate .icon {
		width: 40px;
		height: 40px;
		text-align: center;
	}

	.isolate .icontd {
		width: 50px;
	}

	.isolate .labeltd {
		background-color: #F2F2F2;
		font-weight: bold;
		text-align: left;
		width: 200px;
	}

	.isolate .maintitletable {
		background-color: #D9D9D9;
		border: 0px;
	}

	.isolate .maintitletabletd {
		text-align: center;
	}

	.isolate .maintitletable .title {
		font-size: 14px;
		font-weight: bold;
	}

	.isolate .maintitletable .subtitle {
		font-size: 14px;
		font-weight: bold;
	}

	.isolate .datatable thead td {
		background-color: #DAE9F7;
		font-weight: normal;
	}

	.isolate .titletable {
		margin-top: 25px;
		background-color: transparent;
	}

	.isolate .titletable .title {
		font-size: 20px;
		font-weight: bold;
	}

	.isolate .titletable .subtitle {
		font-size: 16px;
		font-weight: bold;
	}

	.isolate .titletabletd {
		text-align: left;
	}

	.isolate .tablebordered {
		border-collapse: collapse;
	}

	.isolate .tablebordered td {
		border: 1px solid #333333;
		padding:2px;
	}

	.isolate .tablestripped tr td {
		border-bottom: 1px solid #333333;
	}

	.isolate .tablestripped tr:first-child td {
		border-top: 1px solid #333333;
	}

	.isolate .emptyline {
		line-height: 5px;
	}
	
	.isolate .title{
		color:#ffffff;
	}
	.isolate .subtitle{
		padding-left:20px!important;
		background-color:#132e4e;
		color:#ffffff;
		font-size:14px;
	}
	.isolate .subsubtitle{
		padding-left:40px!important;
		background-color:#2f6ebc;
		color:#ffffff;
		font-size:14px;
	}
	.isolate .colorstepa{
		padding-left:60px!important;
		background-color:#aaa;
		color:#333;
	}
	.isolate .colorstepb{
		padding-left:60px!important;
		background-color:#ccc;
		color:#333;
	}
	.isolate .colorstepc{
		padding-left:60px!important;
		background-color:#fff;
		font-weight: bold;
		color:#333;
	}
</style>
